<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="com.mitpark.tvremotemaster.ads.MyApplication"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="9Mmo8af6r9Ra2RlaxqaPqUD6h8bhmuJpNkThxJR6Vgd7pr03LiTSe7pe9CwCf4l0HrX2f2lTK-P6HrH-RGeIq8" />


        <activity
            android:exported="true"
            android:name="com.mitpark.tvremotemaster.splashAds.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mitpark.tvremotemaster.splashAds.FirstPageMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mitpark.tvremotemaster.splashAds.AppThankYouActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mitpark.tvremotemaster.splashAds.PrivacyTermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mitpark.tvremotemaster.splashAds.PermissionPageActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.mitpark.tvremotemaster.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mitpark.tvremotemaster.RemoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/theme1"/>
        <activity
            android:name="com.mitpark.tvremotemaster.RemoteSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mitpark.tvremotemaster.LoadingSourceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/theme1"/>
        <activity
            android:name="com.mitpark.tvremotemaster.SelectTVActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>